@model MatriculaProway.Models.Matricula

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Matricula</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aluno.AlunoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etapa1Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etapa1Navigation.SalaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etapa2Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etapa2Navigation.SalaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Turno1LanchoneteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Turno1LanchoneteNavigation.LanchoneteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Turno2LanchoneteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Turno2LanchoneteNavigation.LanchoneteId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MatriculaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
